DJANGO_SECRET_KEY=
DJANGO_ALLOWED_HOSTS=*, 127.0.0.1

DEFAULT_DATABASE_NAME=db_name
DEFAULT_DATABASE_USER=user_name
DEFAULT_DATABASE_PASSWORD=user_password
DEFAULT_DATABASE_HOST=127.0.0.7
DEFAULT_DATABASE_PORT=3306

PRIMARY_DATABASE_NAME=db_name
PRIMARY_DATABASE_USER=user_name
PRIMARY_DATABASE_PASSWORD=user_password
PRIMARY_DATABASE_HOST=127.0.0.7
PRIMARY_DATABASE_PORT=1433

SECONDARY_DATABASE_NAME=db_name
SECONDARY_DATABASE_USER=user_name
SECONDARY_DATABASE_PASSWORD=user_password
SECONDARY_DATABASE_HOST=127.0.0.7
SECONDARY_DATABASE_PORT=3306

THIRD_DATABASE_NAME=db_name
THIRD_DATABASE_USER=user_name
THIRD_DATABASE_PASSWORD=user_password
THIRD_DATABASE_HOST=127.0.0.7
THIRD_DATABASE_PORT=3306

DEFAULT_CACHES_HOST=website_cache

PRIMARY_REDIS_HOST=redis://127.0.0.1:6379/0
PRIMARY_REDIS_PASSWORD=password

SECONDARY_REDIS_HOST=redis://127.0.0.1:6379/1
SECONDARY_REDIS_PASSWORD=password

THIRD_REDIS_HOST=redis://127.0.0.1:6379/2
THIRD_REDIS_PASSWORD=password
